/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
  color: #1f1f1f;
}
ul, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset {
  padding: 0;
  border: none;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-decoration: none;
}
.header__link:hover {
  opacity: .75;
}
.header__link:focus {
  opacity: .75;
}
.header__link:active {
  opacity: .75;
}
.intro {
  min-height: 100vh;
  background: url("../img/Hero.jpg") no-repeat top;
  background-size: cover;
  padding-top: 263px;
}
.intro__title {
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  max-width: 619px;
  margin-bottom: 22px;
}
.intro__subtitle {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 546px;
  margin-bottom: 59px;
}
.search-form__info {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.search-form__field {
  background: transparent url("../img/svg/Oval.svg") no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  margin-right: 60px;
  width: 297px;
  height: 40px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.search-form__field::placeholder {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: none;
  font-weight: 500;
}
.search-form__submit:hover {
  background: #0b56b7;
}
.search-form__submit:focus {
  background: #0b56b7;
}
.search-form__submit:active {
  background: #0b56b7;
}